* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff; 
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* HEADER */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0.7, 0.1)), url(img/pexels-photo-5858069.jpeg);
    background-size: cover;
    height: 100vh;
}

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

.main-nav {
    float: right;
    list-style: none; 
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #A78B1B;
}

.text-top{
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-top h1 {
    font-weight: 100;
    color: #ffff;
    font-size: 1.7em;
}